<div class="section">
	<div class="row push-s3 col s6">
		<h3> Facebook Likes </h3>
	    <div class="row">
	    	<div class="input-field col s12">
	    		<%= link_to "Connect", "/auth/facebook", class: 'waves-effect waves-light btn', id: 'facebook-connect', target: '_blank' %>
	    	</div>
	    </div>
	    <div class="row">
	    	<div id="facebook-graph" class="input-field col s12">
	    	</div>
	    </div>
	</div>
</div>
