<!DOCTYPE html>
<html>
<head>
  <title>Facebook Likes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">FaceLikes</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">About Me</a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
